body{
	background-color:grey;
	padding-top: 30px;
}
.container{
	width: 250px;
	height: 300px;
	padding: 40px 30px;
	background-color: brown;
	margin-top: 100px;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	box-shadow: 0 0 10px 0 #000;
}